* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

const App = () => (
  <div className="cards-app-container">
   <div className="cards-list-container">
    <h1 className="heading">Learn 4.0 Technologies</h1>
     <p className="description">
       Cut train by Alumini
     </p>
     <ul className="cards-list">
       {cardsList.map(eachCard => (
         <CardItem cardDetails={eachCard} key={eachCard.id} />
       ))}
     </ul>
    </div>
   </div>
)

export default App

